<!--
-- ─── CREAR USUARIO (SIGN UP) ─────────────────────────────────────────────────────
-->
{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block contenido %}

<h1>Registrate</h1>

{% for m in messages %}
<p>{{ m }}</p>
{% endfor %}

{% if state == 0 %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% endif %}

{% for e in errors %}
<p>{{ e }}</p>
{% endfor %}

<br>
<a class="btn btn-primary" href="{% url 'index' %}" role="button">Volver a Home</a>

{% endblock %}