
.episodio {
    align-items: center;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 3%;
}

.episodio a{
    text-decoration: none;
    color: #212529;
}

.episodio a img{
    width: 100%;
}

.episodio:hover{
    background-color: #dee2e6;
}

.boton_borrar{
    padding: 1pt;
}

.boton_editar{
    padding: 1pt;
}

.buscador{
    width: 100%;
}

.boton_anadir{
    padding-top: 5pt;
}
