{% extends "index.html" %}

{% block additional_head %}
<link href="./static/mystyle.css" rel="stylesheet">
{% endblock %}


{% block contenido %}

<h1>Búsqueda de capítulos de Friends:</h1>

<form name="Item_1" action="/busca_coleccion" method="POST">
    <label for="exampleFormControlFile2">Temporada: </label>
    <select name="temporada">
        {% for temporada in temporadas %}
        <option value="{{ temporada }}" SELECTED>{{ temporada }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-primary" type="submit">Buscar</button>
</form>

{% if status == 1 %}

<h2>Capítulos de la temporada {{ temporada_buscada }}</h1>

    <div class="container">
        <div class="row row-cols-3">
            {% for episodio in episodios %}
            <div class="col">

                <div class="episodio">
                    <a href="{{ episodio.url }}">
                        <img src="{{ episodio.image.medium }}">
                        <p>{{ episodio.name }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% endblock %}