<!--
  -- ─── LISTA ──────────────────────────────────────────────────────────────────────
  -->

{% extends "index.html" %}

{% block additional_head %}
<link href="/static/mystyle.css" rel="stylesheet">
{% endblock %}


{% block contenido %}

<h1>Capítulos de Friends:</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <!-- Menu desplegable con las posibles temporadas -->
            <form name="Item_1" action="/busca_coleccion" method="POST">
                <label for="exampleFormControlFile2">Temporada: </label>
                <select name="temporada">
                    {% for temporada in temporadas %}
                    <option value="{{ temporada }}" SELECTED>{{ temporada }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>
        </div>
        <div class="col">

            <!-- Frontend de la busqueda de episodios por nombre -->
            <div class="buscador">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Buscar por nombre"
                        aria-label="Buscar por nombre" aria-describedby="search-addon" id="input_buscar" />
                    <button type="button" class="btn btn-primary" id="boton_buscar">Buscar</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col">

                <!-- Frontend de añadir nuevo episodio -->
                <div class="boton_anadir">
                    <button type="button" class="btn btn-primary" id="anadir">Añadir un nuevo episodio</button>
                    <form id="formulario_anadir_capitulo" method=post>
                        <dl>
                            <dt>Nombre:
                            <dd><input type=text name=name>
                            <dt>Temporada:
                            <dd><input type=number name=season>
                            <dt>Número:
                            <dd><input type=number name=number>
                            <dt>Sinopsis:
                            <dd><input type=text name=summary>
                            <dt>URL del episodio:
                            <dd><input type=text name=url>
                            <dt>URL imagen MEDIUM:
                            <dd><input type=text name=image_medium>
                            <dt>URL imagen ORIGINAL:
                            <dd><input type=text name=image_original>
                        </dl>
                        <p><button type="button" class="btn btn-primary" id="boton_anadir_capitulo">Añadir</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Resultados devueltos por la API REST -->
<div id="titulo_resultado_api"></div>
<div id="episodios_api">

</div>

{% if status == 1 %}

<!-- Listado de capitulos -->
<h2>Capítulos de la temporada {{ temporada_buscada }}</h2>

<div class="container">
    <div class="row row-cols-3">
        {% for episodio in episodios %}
        <div class="col">

            <div class="episodio" id="episodio_{{ episodio.id }}">
                <a href="{{ episodio.url }}">
                    <img src="{{ episodio.image.medium }}">
                    <p>{{ episodio.name }}</p>
                </a>
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <!-- Frontend de eliminar episodio -->
                            <div class="boton_borrar">
                                <button type="button" class="btn btn-primary" id="boton_borrar"
                                    onclick="delete_cap({{ episodio.id }})">Borrar</button>
                            </div>

                        </div>
                        <div class="col">

                            <!-- Mostrar formulario para modificar episodio -->
                            <div class="boton_editar">
                                <button type="button" class="btn btn-primary" id="boton_modificar"
                                    onclick="mostrar_formulario({{ episodio.id }})">Editar</button>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Frontend de modificar episodio -->
                <form id="formulario_modificar_capitulo_{{episodio.id | int}}" class="formulario_modificar_episodio"
                    method=put>
                    <dl>
                        <dt>ID:
                        <dd><input type="text" name=id value={{ episodio.id }} readonly>
                        <dt>Nombre:
                        <dd><input type=text name=name value="{{ episodio['name'] }}">
                        <dt>Temporada:
                        <dd><input type=number name=season value="{{ episodio['season'] }}">
                        <dt>Número:
                        <dd><input type=number name=number value="{{ episodio['number'] }}">
                        <dt>Sinopsis:
                        <dd><input type=text name=summary value="{{ episodio['summary'] }}">
                        <dt>URL del episodio:
                        <dd><input type=text name=url value="{{ episodio['url'] }}">
                        <dt>URL imagen MEDIUM:
                        <dd><input type=text name=image_medium value="{{ episodio['image']['medium'] }}">
                        <dt>URL imagen ORIGINAL:
                        <dd><input type=text name=image_original value="{{ episodio['image']['original'] }}">
                    </dl>
                    <p><button type="button" class="btn btn-primary" id="boton_modificar_capitulo_{{episodio.id | int}}"
                            onclick=modify_cap({{ episodio.id }})>
                            Modificar</button>
                </form>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Paginador -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        {% if temporada_buscada == 1 %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="./busca_coleccion/{{ temporada_buscada-1 }}">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" href="./busca_coleccion/{{ temporada_buscada-1 }}">{{
                temporada_buscada - 1 }}</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="./busca_coleccion/{{ temporada_buscada }}">
                {{ temporada_buscada }}
            </a></li>

        {% if temporada_buscada == 10 %}

        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Siguiente</a>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="./busca_coleccion/{{ temporada_buscada+1 }}">{{
                temporada_buscada + 1 }}</a></li>
        <li class="page-item">
            <a class="page-link" href="busca_coleccion/{{ temporada_buscada+1 }}">Siguiente</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}