<!--
  -- ─── LOGIN ──────────────────────────────────────────────────────────────────────
  -->

{% extends "index.html" %}

{% block contenido %}

<h1>Login</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% if status == -1 %}
<strong>Error: </strong>
<p>Por favor, inténtalo de nuevo:</p>
{% endif %}
{% if status == -1 or status == 0 %}
<form method=post>
    <dl>
        <dt>Username:
        <dd><input type=text name=username>
        <dt>Password:
        <dd><input type=password name=password>
    </dl>
    <p><input type=submit value=Login>
</form>
{% endif %}
{% if status == 1 %}
<form action={{ url_for('logout') }}>
    <input type="submit" value="Logout" />
</form>
{% endif %}

{% endblock %}