<!--
-- ─── LISTA DE CUADROS ───────────────────────────────────────────────────────────
-->
{% extends "index.html" %}

{% block contenido %}
<h1>Lista de todos los Cuadros</h1>

<div class="list-group">
    {% for c in cuadros %}
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ c.nombre }}</h5>
            <small>

                {% if perms.galerias.change_cuadro %}
                <a href="{% url 'modificar_cuadro' c.id %}">Editar</a>
                {% endif %}
                {% if perms.galerias.delete_cuadro %}
                <a href="{% url 'eliminar_cuadro' c.id %}">Eliminar</a>
                {% endif %}
            </small>
        </div>
        <p class="mb-1">{{ c.autor }}
            {% if c.fecha_creacion %}
            ({{ c.fecha_creacion }})
            {% endif %}
        </p>
        <small class="text-muted">{{ c.galeria.nombre }}</small>
        {% if c.imagen %}
        <p><img src="{{ c.imagen.url }}" width="50%"></p>
        {% endif %}
    </div>
    {% endfor %}
</div>
<br>
{% if perms.galerias.add_cuadro %}
<a class="btn btn-primary" href="{% url 'crear_cuadro' %}" role="button">Crear cuadro</a>
{% endif %}
{% endblock %}