<!--
-- ─── MODIFICAR CUADRO ───────────────────────────────────────────────────────────
-->
{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block contenido %}

<h1>Modifica un cuadro ya existente</h1>

{% for m in messages %}
<p>{{ m }}</p>
{% endfor %}

{% if state == 0 %}
<form method="post" action="{% url 'modificar_cuadro' pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button type="submit" class="btn btn-primary">Modificar</button>
</form>
{% endif %}

{% for e in errors %}
<p>{{ e }}</p>
{% endfor %}
<br>
<a class="btn btn-primary" href="{% url 'consulta_cuadros' %}" role="button">Lista de cuadros</a>

{% endblock %}